.App {
  min-height: 100vh;
  text-align: center;
}

.App-header {
  background-color: rgb(195, 0, 0);
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}


ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: center;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#theme-toggle {
  margin-bottom: 400px;
}